$lg: 580px;
#instafeed {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  a {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background: white;
  }
}
img {
  margin: 10px;
}
img:hover {
  position: relative;
  top: -5px;
}
#insta-contain {
  text-align: center;
  border-style: solid;
  border-color: lightgrey;
}
